* {
  margin: 0;
  padding: 0;
}

.wordsWrapper {
  display: block;
  margin: auto;
  text-align: center;
}

.servedWords {
  list-style: none;
  border: none;
  padding: 0;
  display: flex;
  background-color: #f2f2f2;
  align-items: flex-start;
  justify-content: center;
  align-content: space-between;
}

.pickFrom {
  display: flex;
  max-width: 50%;
  margin-left: 2em;
  margin-right: 2em;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.servedWord {
  border: 0.5px solid black;
  border-radius: 1px;
  padding: 0.5em;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-size: 1em;
  background-color: white;
  margin: 0.5em;
  box-shadow: 3px 3px 0px #181818;
}

/* IPHONE X */
@media only screen and (min-width: 375px) and (max-width: 810px) {
  .wordsWrapper {
    min-width: 100%;
  }

  .pickFrom {
    min-width: 100%;
  }

  .servedWords {
    min-width: 100%;
  }

  .servedWord {
    padding: 0.4em;
    margin: 0.5em;
  }
}
